* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #ded3c2;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.myface {
    width: 270px;
    height: 360px;
}
.info {
    padding: 30px 0 50px 0;
}
.info__head {
    display: flex;
    justify-content: space-between;
}
.info__text {
    padding-left: 40px;
}
.info__name {
    font-size: 95px;
    font-variant: small-caps;
    color: #856a55;
}
.info__email {
    display: block;
    margin-top: 50px;
    font-size: 45px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #5c4839;
}
.main-info {
    padding: 30px 0 50px 0;
}
.main-info__text {
    display: flex;
    justify-content: space-between;
}
.main-info__descr-mod {
    padding: 8px;
    width: 50%;
    background: linear-gradient(to right, #bda896 10%, #ded3c2 90%);
}
.main-info__descr {
    font-variant: small-caps;
    font-size: 20px;
    color: #886c53;
}
.main-info__descr span {
    font-size: 25px;
    font-weight: 600;
    color: #927258;
}
.main-info__skills {
    padding: 8px;
    background: linear-gradient(to right,  #ded3c2 10%, #bda896 90%);
    font-size: 20px;
    font-variant: small-caps;
    color: #886c53;
}
.main-info__skills ul {
    list-style-type: none;
}
.exemple-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-variant: small-caps;
    font-size: 25px;
    color: #886c53;
}